*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background-color: #2a2b42;
    color: white;
    font-family: Lato, sans-serif;

}
.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*lista taeras*/
h1{
  text-align: center;
  color: #313234;
  font-family: Roboto;
  font-size: 40px;
}
.lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d2d0d6;
  padding: 25px;
  margin: 20px;
  align-items: center;
  border-radius: 25px;
}